

{% load i18n static admin_modify %}

<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">

    <fieldset class="module aligned">

        <h2>
            {{ inline_admin_formset.opts.verbose_name_plural|capfirst }}
        </h2>

        {{ inline_admin_formset.formset.management_form }}

        {% if inline_admin_formset.formset.non_form_errors %}

            <div class="inline-form-errors">

                {{ inline_admin_formset.formset.non_form_errors }}

            </div>

        {% endif %}


        <table class="inline-table">

            <thead>

                <tr>

                    {% for fieldset in inline_admin_formset %}

                        {% for line in fieldset %}

                            {% for field in line %}

                                <th
                                    class="
                                        {% if field.field.name %}
                                            field-{{ field.field.name }}
                                        {% endif %}
                                    ">

                                    {{ field.label }}

                                </th>

                            {% endfor %}

                        {% endfor %}

                    {% endfor %}


                    {% if inline_admin_formset.formset.can_delete %}

                        <th>
                            {% translate "Delete?" %}
                        </th>

                    {% endif %}

                </tr>

            </thead>


            <tbody>

                {% for inline_admin_form in inline_admin_formset %}

                    {% if inline_admin_form.form.non_field_errors %}

                        <tr class="row-form-errors">

                            <td colspan="100">

                                {{ inline_admin_form.form.non_field_errors }}

                            </td>

                        </tr>

                    {% endif %}


                    <tr
                        class="form-row
                        {% if forloop.last %}
                            empty-form
                        {% endif %}"
                        id="{{ inline_admin_formset.formset.prefix }}-{{ forloop.counter0 }}">


                        {% for fieldset in inline_admin_form %}

                            {% for line in fieldset %}

                                {% for field in line %}

                                    <td
                                        class="
                                            {% if field.errors %}
                                                has-error
                                            {% endif %}
                                        ">

                                        {{ field.errors.as_ul }}

                                        {{ field.field }}


                                        {% if field.help_text %}

                                            <div class="help-text">

                                                {{ field.help_text|safe }}

                                            </div>

                                        {% endif %}

                                    </td>

                                {% endfor %}

                            {% endfor %}

                        {% endfor %}


                        {% if inline_admin_formset.formset.can_delete %}

                            <td class="delete-field">

                                {% if inline_admin_form.original %}

                                    {{ inline_admin_form.deletion_field.field }}

                                    <label for="{{ inline_admin_form.deletion_field.field.id_for_label }}">

                                        {% translate "Delete" %}

                                    </label>

                                {% endif %}

                            </td>

                        {% endif %}

                    </tr>

                {% endfor %}

            </tbody>

        </table>

    </fieldset>

</div>
